
.linea-costados {
	min-height: 300px;
	border-left: 1px solid #f3e3e3;
	border-right: 1px solid #f3e3e3;
	padding: 0px 25px 0px 25px;
}

.pasos-lista {
	height: 30px;
    border-top: 1px solid #cdcaca;
    align-content: center;
    align-items: center;
    display: flex;
    padding: 20px 0px;
}