@import "../../../common-assets/css/variables";
@import "../../../common-assets/css/rootui-parts/feelrouk-style";

.container-respuestas {
    background: #f9f9f9;
    width: 100%;
    margin: 10px;
}

.respuesta {
	display: flex;
    align-items: center;
}

.width-max {
	width: 80%;
}

.btn-del-pregunta {
	background-color: #fff;
	color: #a5a5a5;
    border: 1px solid #d1cece;
    padding: 0px;

	svg {
		width: 36px !important;
	    height: 36px;
	    color: $azul;
	}
}

.btn-respuesta-borrar {
	svg {
		height: 18px;
    	width: 25px !important;
	}
}


.content-obligatoria {
	align-items: center;
    align-content: center;
    display: inline-flex;
}