.container-micelaneos{
    min-height: 50vh;
    padding:30px;
    margin: 0;
    & label, h1 {
        color: #0C0C3D;
    }
    & input{
        border: 1px solid #0C0C3D;
    }
    & h1{
        font-weight: 600;
        font-size: 25px;
        & img{
            width: 80px;
            margin-right: 20px;
        }
    }
    & form{
        align-items: flex-start;
        width: 350px;
        font-size: 16px;
        & button.btn-blue {
            margin-top: 30px;
            background-color: #0C0C3D;
            color: #fff;
            border-radius: 50px;
            width: 100px;
        }
        & button.btn-blue:disabled{
            background-color: #a2a2a3;
        }
    }
    & > div > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        & button{
            border: none;
            width: 230px;
            padding: 5px 0px;
            font-size: 18px;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        & a{
            text-decoration: underline;
            font-size: 14px;
            text-align: center;
            font-weight: bold;
            & img{
                width: 15px;
                height: 15px;
            }
        }
    }
    .btn-orange{
        background-color: #EE8643;
        color: #fff;
    }
}
@media only screen and (max-width: 1023px) { 
    .container-micelaneos{
        padding: 0;
        & > div > div{
            align-items: center;
            margin-top: 20px;
        }
    }
    
}